@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@layer base {
    
    @font-face {
        font-family: 'Brandon Grotesque';
        font-style: normal;
        font-weight: normal;
        src: local('Brandon Grotesque'), url('./fonts/Brandon Grotesque.otf') format('otf');
        }

    
}

@layer components {

    .details {
        background: rgba(246, 239, 236, 1);

    }

    .gray {
        color: rgba(80, 80, 80, 1);

    }

    .red {
        color: rgba(189, 127, 128, 1);
    }
   
}

.font-brandon {
    font-family: 'Brandon Grotesque';
}

.font-libre-baskerville {
    font-family: 'Libre Baskerville', serif;
}

.font-Opensans {
    font-family: 'Open Sans', sans-serif;
}